@if (store.isLoading()) {
  <ppf-loader><p>Loading album...</p></ppf-loader>
} @else {
  <div class="album-page">
    <div class="album-info">
      <div class="cover">
        <img
          [ngSrc]="store.imageUrl() || PLACEHOLDER_URL_XL"
          alt="album cover"
          width="500"
          height="500"
          priority
        />
      </div>
      <div class="album-description">
        <p class="release">
          Release date: <br />
          {{ (store.releaseDate() | date: 'mediumDate') || 'Date not found' }}
        </p>
        <p class="artist-name">
          <span>{{ store.artistName() || 'Artist Name' }}</span>
        </p>
        <p class="album-name">
          <span>{{ store.name() || 'Album Name' }}</span>
        </p>
        <p class="total-duration">
          {{ (store.totalDuration() | duration: 'fullTime') || '00h 00min 0s' }}
        </p>
      </div>
    </div>
    <ppf-tracks-list
      mode="list"
      [title]="(store.name() ?? 'Album Name') + ':'"
      [trackList]="store.tracks()"
      ulMode="numbered"
    />
  </div>
}
