<div class="track-container" [class.track-container--playing]="highlighted()">
  <div class="track-content">
    <div class="album-cover">
      <img
        [ngSrc]="track().imageUrl || track().albumImageUrl"
        [alt]="track().albumName || track().imageUrl + ' cover'"
        width="70"
        height="70"
        loading="lazy"
      />
    </div>
    <div class="track-text">
      <div class="author-name">
        @if (track().sourse !== 'userUpload') {
          <a [routerLink]="['/artist', track().artistId]">{{ track().artistName }}</a>
        } @else {
          <span>{{ track().artistName }}</span>
        }
      </div>
      <h4 class="track-name">{{ track().name }}</h4>
    </div>
  </div>
  <div class="track-info">
    <p>
      <mat-icon
        inline
        aria-hidden="false"
        aria-label="headphones icon"
        fontSet="material-icons-outlined"
      >
        headphones
      </mat-icon>
      {{ 100000 | abbreviatedNumber }}
    </p>
    <p>
      <mat-icon
        inline
        aria-hidden="false"
        aria-label="timer icon"
        fontSet="material-icons-outlined"
      >
        timer
      </mat-icon>
      {{ track().duration | duration }}
    </p>
  </div>
  <button
    matIconButton
    aria-label="Example icon button with a vertical three dot icon"
    (click)="playClick.emit()"
  >
    <mat-icon fontSet="material-icons-outlined">
      {{ isPlaying() ? 'pause_circle' : 'play_circle' }}
    </mat-icon>
  </button>
</div>
