<div class="track-container" [class.track-container--playing]="isPlaying()">
  <div class="track-content">
    <div class="album-cover">
      <img
        [src]="track().album_image || track().image"
        [alt]="track().album_name || track().image + ' cover'"
      />
    </div>
    <div class="track-text">
      <h3 class="author-name">
        <a [routerLink]="['/artist', track().artist_id]">{{ track().artist_name }}</a>
      </h3>
      <h4 class="track-name">{{ track().name }}</h4>
    </div>
  </div>
  <div class="track-info">
    <p>
      <mat-icon
        inline
        aria-hidden="false"
        aria-label="headphones icon"
        fontSet="material-icons-outlined"
      >
        headphones
      </mat-icon>
      {{ 100000 | abbreviatedNumber }}
    </p>
    <p>
      <mat-icon
        inline
        aria-hidden="false"
        aria-label="timer icon"
        fontSet="material-icons-outlined"
      >
        timer
      </mat-icon>
      {{ track().duration | duration }}
    </p>
  </div>
  <button
    matIconButton
    aria-label="Example icon button with a vertical three dot icon"
    (click)="playClick.emit()"
  >
    <mat-icon fontSet="material-icons-outlined">
      {{ isPlaying() ? 'pause_circle' : 'play_circle' }}
    </mat-icon>
  </button>
</div>
