<div
  class="track-container"
  [class.track-container--playing]="highlighted()"
  [class.track-container--recently-played]="isRecentlyPlayed()"
>
  <div class="track-content">
    @if (playlistEditMode()) {
      <div class="actions actions--edit-mode">
        <button matIconButton aria-label="Remove track from playlist" (click)="removeClick.emit()">
          <mat-icon fontSet="material-icons-outlined">close</mat-icon>
        </button>

        <button matIconButton aria-label="Reorder track">
          <mat-icon fontSet="material-icons-outlined">drag_handle</mat-icon>
        </button>
      </div>
    }

    <div class="album-cover">
      <img
        [ngSrc]="track().imageUrl || track().albumImageUrl || PLACEHOLDER_URL"
        [alt]="(track().albumName || track().imageUrl || 'Album') + ' cover'"
        width="70"
        height="70"
        loading="lazy"
      />
    </div>

    <div class="track-text">
      <div class="author-name">
        @if (track().sourse !== 'userUpload') {
          <a [routerLink]="['/artist', track().artistId]">
            {{ track().artistName || 'Artist name' }}
          </a>
        } @else {
          <span>{{ track().artistName || 'Artist name' }}</span>
        }
      </div>

      <div class="track-title">
        <h4 class="track-name">
          {{ track().name || 'Track name' }}
        </h4>

        @if (track().sourse === 'userUpload') {
          <span class="uploaded-badge" tabindex="0" matTooltip="Uploaded">
            <mat-icon aria-hidden="true" fontSet="material-icons-outlined"> cloud_upload </mat-icon>
          </span>
        }
      </div>
    </div>
  </div>

  <div
    class="track-info"
    [class.track-info--recently-played]="isRecentlyPlayed()"
    [class.track-info--create-mode]="playlistCreateMode()"
  >
    @if (!playlistCreateMode()) {
      @if (isRecentlyPlayed()) {
        <p>
          <mat-icon inline fontSet="material-icons-outlined"> history </mat-icon>

          {{ track().lastPlayedAt | date: 'short' }}
        </p>
      } @else {
        <p>
          <mat-icon
            inline
            aria-hidden="false"
            aria-label="Headphones statistic"
            fontSet="material-icons-outlined"
          >
            headphones
          </mat-icon>

          {{ (track().listenedTotal | abbreviatedNumber) || 0 }}
        </p>
      }

      <p>
        <mat-icon
          inline
          aria-hidden="false"
          aria-label="Track duration"
          fontSet="material-icons-outlined"
        >
          timer
        </mat-icon>

        {{ (track().duration | duration) || '00:00' }}
      </p>
    }

    <div class="actions actions--normal-mode">
      <button matIconButton aria-label="Track playback control button" (click)="playClick.emit()">
        <mat-icon fontSet="material-icons-outlined">
          {{ isPlaying() ? 'pause_circle' : 'play_circle' }}
        </mat-icon>
      </button>

      <button matIconButton aria-label="Add track to playlist" (click)="addClick.emit(track())">
        <mat-icon fontSet="material-icons-outlined">
          {{ selectedForPlaylist() ? 'check_small' : 'add' }}
        </mat-icon>
      </button>
    </div>
  </div>
</div>
