@use '../../../../styles/mixins';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;

  .logo-container {
    .logo-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .app-name {
        @include mixins.font-lg;

        font-family: Notable, sans-serif;
      }
    }
  }
}
