# Copy example env file before first run:
# cp .env.example .env

JAMENDO_API_KEY='JAMENDO_API_KEY'
JAMENDO_API_CLIENT_ID='XXXXXXXXX'

POSTGRES_USER=pupufy_app
POSTGRES_PASSWORD=postgres
POSTGRES_DB=pupufy
DB_PORT=5432

DATABASE_URL="postgresql://pupufy_app:postgres@localhost:5432/pupufy"

JWT_SECRET="some-long-random-string"
