@use '../../../../../../styles/mixins';
@use '../../../../../../styles/variables';

:host {
  border: 1px solid rgb(from var(--mat-sys-surface) r g b / 50%);
  border-radius: variables.$radius-xl;
  background-color: var(--surface-playlist-shelf-bg);
}

.playlist-shelf {
  display: grid;
  align-items: start;
  height: 100%;
  padding: 15px 20px;
}

.title {
  @include mixins.font-lg;

  margin-bottom: 20px;
}

.playlist-shelf-inner {
  @include mixins.scrollbar-thin(var(--mat-sys-on-surface));

  overflow: auto;
  display: flex;
  gap: 15px;
  padding: 10px 0;
}

.albums-empty {
  @include mixins.font-lg;

  margin: auto;
}
