:host {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.player-cover {
  align-items: center;
  width: 30px;
}

.player-wrapper {
  display: flex;
  flex-direction: row;
}

.player-track-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.player-names {
  display: flex;
  flex-direction: column;
}
