<section class="track-list">
  <div class="header">
    <h2 class="title">{{ title() }}</h2>
    @if (headerControl() === 'sort') {
      <button matFab extended (click)="toggleSort()" class="sort-button">
        <mat-icon>{{ direction() === 'asc' ? 'north' : 'south' }}</mat-icon>
        Last Played
      </button>
    } @else if (headerControl() === 'playAll') {
      <button matButton="filled" class="play-button" (click)="playAllClick()">
        <mat-icon fontSet="material-icons-outlined">play_arrow</mat-icon>
        Play All
      </button>
    }
  </div>

  @if (trackList().length > 0) {
    @if (ulMode() === 'numbered') {
      <ol class="items items--numbered" [class.items--grid]="mode() === 'grid'">
        @for (track of trackList(); track track.id) {
          <li class="item">
            <ppf-tracks
              [isPlaying]="player.current()?.id === track.id && player.isPlaying()"
              [track]="track"
              [view]="trackView()"
              (playClick)="playTrackClick(track)"
            />
          </li>
        }
      </ol>
    } @else {
      <ul
        class="items"
        [class.items--grid]="mode() === 'grid'"
        cdkDropList
        cdkDropListDisabled="false"
        [cdkDropListData]="trackList()"
        (cdkDropListDropped)="drop($event)"
      >
        @for (track of trackList(); track track.id) {
          <li class="item" cdkDrag cdkDragDisabled="false">
            <ppf-tracks
              [isPlaying]="player.current()?.id === track.id && player.isPlaying()"
              [track]="track"
              [view]="trackView()"
              (playClick)="playTrackClick(track)"
            />
          </li>
        }
      </ul>
    }
  } @else {
    <div class="empty">No tracks available yet.</div>
  }
</section>
