<section class="track-list">
  <div class="header">
    <h2 class="track-list__title">{{ title() }}</h2>
    <button matButton="filled" class="action-play-btn" (click)="playAllClick()">
      <mat-icon fontSet="material-icons-outlined">play_arrow</mat-icon>
      Play All
    </button>
  </div>

  <ng-template #trackItems>
    @if (trackList().length > 0) {
      @for (track of trackList(); track track.id) {
        <li class="track-list__item">
          <ppf-tracks
            [isPlaying]="player.current()?.id === track.id && player.isPlaying()"
            [track]="track"
            [view]="trackView()"
            (playClick)="playTrackClick(track)"
          />
        </li>
      }
    } @else {
      <li class="tracks-empty">No tracks available yet.</li>
    }
  </ng-template>

  @if (ulMode() === 'numbered') {
    <ol class="track-list__items track-list-numbered">
      <ng-container [ngTemplateOutlet]="trackItems" />
    </ol>
  } @else {
    <ul class="track-list__items">
      <ng-container [ngTemplateOutlet]="trackItems" />
    </ul>
  }
</section>
