@use 'src/styles/variables';
@use 'src/styles/colors';
@use 'src/styles/mixins';

:host {
  display: block;

  height: 100%;
  padding: variables.$space-16 variables.$space-14 variables.$space-12;
  border: 1px solid rgb(from var(--mat-sys-surface) r g b / 50%);
  border-radius: variables.$radius-xl;

  background: var(--surface-track-list-bg);
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 24px rgb(0 0 0 / 15%);
}

.track-list {
  overflow: hidden;
  display: grid;
  grid-template-rows: max-content;
  gap: variables.$space-18;
  align-items: start;

  height: 100%;

  &__title {
    @include mixins.font-lg;

    line-height: 1.1;
  }

  &__items {
    overflow-y: auto;
    display: grid;
    gap: variables.$space-8;

    height: 100%;
    margin: 0;
    padding: 0 variables.$space-4 0 0;

    list-style: none;

    @include mixins.scrollbar-thin(rgb(from var(--mat-sys-on-surface) r g b / 85%));
  }

  &__item {
    border-radius: variables.$radius-xl;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tracks-empty {
  @include mixins.font-lg;

  margin: auto;
}

.action-play-btn {
  --mat-button-filled-container-color: var(--mat-sys-secondary-container);
  --mat-button-filled-label-text-color: var(--mat-sys-tertiary);
  --mat-button-filled-container-shape: #{variables.$radius-md};

  box-shadow: none;
}

.track-list-numbered {
  padding: revert;
  list-style: auto;
}
