<!--TODO: добавить данные после добавления интерфейса-->
@let coverUrl = store.coverUrl();
@if (store.id()) {
  <div class="artist-container">
    <div class="artist-info">
      <div class="avatar">
        <img
          [ngSrc]="coverUrl === '' || !coverUrl ? '/img/artist-avatar-mock.png' : coverUrl"
          alt="artist avatar image"
          width="150"
          height="150"
          priority
        />
      </div>
      <div class="artist-meta">
        <div class="albums-count">
          <mat-icon inline fontSet="material-icons-outlined" aria-label="music album icon">
            library_music
          </mat-icon>
          <span>{{ store.albumsCount() }} albums</span>
        </div>
        <h2 class="name">{{ store.name() }}</h2>
      </div>
      <div class="biography">
        <h3>{{ store.name() }} biography:</h3>
        @if (store.biography()) {
          <p>{{ store.biography() }}</p>
        } @else {
          <p>This artist doesn’t have a biography yet.</p>
        }
      </div>
    </div>
    <div class="artist-catalog">
      <ppf-tracks-list mode="list" title="Popular tracks" [trackList]="store.popularTracks()" />
      <ppf-playlist-shelf title="Artist Albums" />
    </div>
  </div>
} @else {
  <div class="loader">
    <mat-spinner />
  </div>
}
