@use 'src/styles/variables';
@use 'src/styles/mixins';

:host {
  --surface-track-list-bg: rgb(from var(--mat-sys-secondary) r g b / 40%);
  --surface-playlist-shelf-bg: rgb(from var(--mat-sys-primary-container) r g b / 40%);

  display: flex;
  flex: 1;
  flex-direction: column;
}

.artist-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.artist-info {
  display: flex;
  gap: 10px;
  align-items: stretch;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: variables.$radius-xl;
  background-color: var(--mat-sys-on-primary);

  img {
    border-radius: variables.$radius-xl;
    object-fit: cover;
  }
}

.artist-meta {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;

  .albums-count {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;

    padding: 10px;
    border: 1px solid var(--mat-sys-surface);
    border-radius: variables.$radius-xl;

    background: var(--mat-sys-on-primary);
  }

  .name {
    @include mixins.font-xl;

    width: max-content;
    padding: 10px 15px;
    border: 1px solid var(--mat-sys-surface);
    border-radius: variables.$radius-xl;

    background: var(--mat-sys-primary-transparent);
  }
}

.biography {
  flex: 1;

  min-height: 100%;
  padding: 10px 20px;
  border: 1px solid var(--mat-sys-surface);
  border-radius: variables.$radius-xl;

  color: var(--mat-sys-surface);

  background: var(--mat-sys-secondary);

  h3 {
    @include mixins.font-lg;
  }
}

.artist-catalog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 450px;
  gap: 20px;

  min-height: 450px;

  color: white;

  ppf-playlist-shelf {
    color: var(--mat-sys-tertiary);
  }
}

.loader {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
