@if (store.isLoading()) {
  <ppf-loader>
    <p>Loading artist...</p>
  </ppf-loader>
} @else {
  <div class="artist-container">
    <div class="artist-info">
      <div class="avatar">
        <img
          [ngSrc]="store.coverUrl() || PLACEHOLDER_URL"
          alt="artist avatar image"
          width="150"
          height="150"
          priority
        />
      </div>
      <div class="artist-meta">
        <div class="albums-count">
          <mat-icon inline fontSet="material-icons-outlined" aria-label="music album icon">
            library_music
          </mat-icon>
          <span>{{ store.albumsCount() || '0' }} albums</span>
        </div>
        <h2 class="name">{{ store.name() || 'Artist name' }}</h2>
      </div>
      <div class="biography">
        <h3>Artist biography:</h3>
        <p>{{ store.biography() || 'This artist doesn’t have a biography yet.' }}</p>
      </div>
    </div>
    <div class="artist-catalog">
      <ppf-tracks-list
        mode="list"
        title="Popular tracks"
        [trackList]="store.popularTracks()"
        ulMode="unnumbered"
        (addClick)="openAddToPlaylist($event)"
      />
      <ppf-playlist-shelf
        mode="artist"
        title="Artist Albums"
        [albumsList]="store.albums()"
        (playlistClick)="redirectToAlbumPage($event)"
      />
    </div>
  </div>
}
