<!--TODO: добавить данные после добавления интерфейса-->
<div class="artist-container">
  <div class="artist-info">
    <div class="avatar">
      <img
        ngSrc="/img/artist-avatar-mock.png"
        alt="artist avatar image"
        width="150"
        height="150"
        priority
      />
    </div>
    <div class="artist-meta">
      <div class="albums-count">
        <mat-icon inline fontSet="material-icons-outlined" aria-label="music album icon">
          library_music
        </mat-icon>
        <span>10 album</span>
      </div>
      <h2 class="name">Artist Name</h2>
    </div>
    <!--    TODO: если ничего нет добавить проверку и не рендерить-->
    <div class="biography">
      <h3>Artist Name biography:</h3>
      <p>
        Sodales vitae nec non vulputate accumsan justo sodales vel nec lacinia cras non sed ut. Nunc
        platea justo sit lorem morbi cursus pellentesque pellentesque dictum.
      </p>
    </div>
  </div>
</div>
