@use '../../../../../../styles/variables';

.search-bar {
  --mat-form-field-outlined-container-shape: #{variables.$radius-2xl};

  width: clamp(150px, 40vw, 600px);
  padding-right: max(
    16px,
    var(--mat-form-field-outlined-container-shape, var(--mat-sys-corner-extra-small))
  );

  .search-input {
    &:placeholder-shown {
      text-overflow: ellipsis;
    }
  }

  button {
    margin-right: 10px;
  }
}

.entity {
  font-size: variables.$font-size-sm;
  opacity: 0.5;
}

.search-status {
  overflow: hidden;
  display: flex;
  justify-content: center;
  opacity: 0.5;
}
