<form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" autocomplete="email" />
    @if (form.controls.email.errors?.['required']) {
      <mat-error>Email is required</mat-error>
    } @else if (form.controls.email.errors?.['email']) {
      <mat-error>Invalid email</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-label>Password</mat-label>
    <input
      matInput
      [type]="isPasswordVisible() ? 'text' : 'password'"
      formControlName="password"
      autocomplete="current-password"
    />

    <button
      class="password-toggle"
      matIconButton
      matSuffix
      type="button"
      (click)="togglePasswordVisibility()"
    >
      <mat-icon fontSet="material-icons-outlined">
        {{ isPasswordVisible() ? 'visibility_off' : 'visibility' }}
      </mat-icon>
    </button>

    @if (form.controls.password.errors?.['required']) {
      <mat-error>Password is required</mat-error>
    }
  </mat-form-field>

  @if (showSupportHint()) {
    @if (supportLink(); as link) {
      <p class="support">
        <span>Need help?</span>
        <a class="support-link" [routerLink]="link">Contact us</a>
      </p>
    }
  }

  <button
    class="submit-button"
    [class.submit-button--error]="error()"
    matButton="filled"
    type="submit"
    [disabled]="isLoading() || form.invalid"
  >
    <span>{{ isLoading() | submitButtonText: 'Log in' }}</span>
  </button>
</form>
