:root {
  --mat-sys-primary: rgb(182 196 252);
  --mat-sys-primary-transparent: rgb(182 196 252 / 0.3);
  --mat-sys-surface-tint: rgb(182 196 252);
  --mat-sys-on-primary: rgb(30 46 92);
  --mat-sys-primary-container: rgb(20 36 82);
  --mat-sys-on-primary-container: rgb(126 140 192);

  --mat-sys-secondary: rgb(121 165 195);
  --mat-sys-on-secondary: rgb(0 45 110);
  --mat-sys-secondary-container: rgb(53 94 176);
  --mat-sys-on-secondary-container: rgb(252 253 255);

  --mat-sys-tertiary: rgb(249 247 243);
  --mat-sys-on-tertiary: rgb(48 49 46);
  --mat-sys-tertiary-container: rgb(220 219 215);
  --mat-sys-on-tertiary-container: rgb(95 96 93);

  --mat-sys-error: rgb(255 180 171);
  --mat-sys-on-error: rgb(105 0 5);
  --mat-sys-error-container: rgb(147 0 10);
  --mat-sys-on-error-container: rgb(255 218 214);

  --mat-sys-background: rgb(19 19 22);
  --mat-sys-on-background: rgb(228 226 230);

  --mat-sys-surface: rgb(19 19 19);
  --mat-sys-on-surface: rgb(226 226 226);

  --mat-sys-surface-variant: rgb(69 70 78);
  --mat-sys-on-surface-variant: rgb(198 198 207);

  --mat-sys-outline: rgb(143 144 152);
  --mat-sys-outline-variant: rgb(69 70 78);

  --mat-sys-shadow: rgb(0 0 0);
  --mat-sys-scrim: rgb(0 0 0);

  --mat-sys-inverse-surface: rgb(226 226 226);
  --mat-sys-inverse-on-surface: rgb(48 48 48);
  --mat-sys-inverse-primary: rgb(78 92 141);

  --mat-sys-primary-fixed: rgb(219 225 255);
  --mat-sys-on-primary-fixed: rgb(6 24 70);
  --mat-sys-primary-fixed-dim: rgb(182 196 252);
  --mat-sys-on-primary-fixed-variant: rgb(54 68 116);

  --mat-sys-secondary-fixed: rgb(217 226 255);
  --mat-sys-on-secondary-fixed: rgb(0 25 68);
  --mat-sys-secondary-fixed-dim: rgb(176 198 255);
  --mat-sys-on-secondary-fixed-variant: rgb(16 67 148);

  --mat-sys-tertiary-fixed: rgb(227 226 222);
  --mat-sys-on-tertiary-fixed: rgb(27 28 26);
  --mat-sys-tertiary-fixed-dim: rgb(199 198 195);
  --mat-sys-on-tertiary-fixed-variant: rgb(70 71 68);

  --mat-sys-surface-dim: rgb(19 19 19);
  --mat-sys-surface-bright: rgb(57 57 57);

  --mat-sys-surface-container-lowest: rgb(14 14 14);
  --mat-sys-surface-container-low: rgb(27 27 27);
  --mat-sys-surface-container: rgb(31 31 31);
  --mat-sys-surface-container-high: rgb(42 42 42);
  --mat-sys-surface-container-highest: rgb(53 53 53);
}
