@use 'src/styles/mixins';
@use 'src/styles/variables';
@use 'src/styles/colors';

:host {
  display: block;

  border: 1px solid rgb(from var(--mat-sys-surface) r g b / 50%);
  border-radius: variables.$radius-md;

  backdrop-filter: blur(12px);
  box-shadow: 0 8px 24px rgb(0 0 0 / 15%);
}

.playback-queue {
  @include mixins.scrollbar-thin(rgb(255 255 255 / 70%));

  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;

  max-height: min(680px, calc(100vh - 32px));
  padding: 16px 22px 26px;

  color: rgb(255 255 255 / 94%);

  background-color: #223465;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  @include mixins.font-lg;

  margin: 0;
  color: rgb(255 255 255 / 96%);
}

.close {
  align-self: center;
}

.queue {
  @include mixins.scrollbar-thin(rgb(255 255 255 / 70%));

  overflow: auto;
  display: grid;
  gap: 16px;

  padding: variables.$radius-md;

  background-color: #223465;
}

.title {
  @include mixins.font-lg;

  margin: 0;
}

.empty {
  @include mixins.font-sm;

  margin: 0;
}

.controls {
  display: flex;
  gap: variables.$space-8;

  width: max-content;
  margin: 0 auto;
  border-radius: variables.$radius-md;
}

.list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.item {
  button {
    flex-shrink: 1;
  }
}
