<mat-dialog-content class="playback-queue" id="playback-queue">
  <div class="header">
    <p mat-dialog-title class="title">Playback queue</p>
    <button matIconButton mat-dialog-close type="button" class="close">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  @if (isEmpty()) {
    <p class="empty">Queue is empty</p>
  } @else {
    <div class="controls">
      <button matIconButton type="button" (click)="player.previous()">
        <mat-icon fontSet="material-icons-outlined">skip_previous</mat-icon>
      </button>
      <button matIconButton type="button" (click)="player.toggle()">
        <mat-icon fontSet="material-icons-outlined">
          {{ player.isPlaying() ? 'pause_circle' : 'play_circle' }}
        </mat-icon>
      </button>
      <button matIconButton type="button" (click)="player.next()">
        <mat-icon fontSet="material-icons-outlined">skip_next</mat-icon>
      </button>
    </div>

    <ol class="list">
      @for (track of queue(); track track.id; let index = $index) {
        <li class="item">
          <ppf-tracks-row
            [track]="track"
            [isPlaying]="activeIndex() === index && player.isPlaying()"
            (playClick)="player.toggleQueuedTrack(index)"
          />

          <button
            matIconButton
            type="button"
            class="remove"
            (click)="player.removeTrackFromQueue(index)"
          >
            <mat-icon fontSet="material-icons-outlined">close</mat-icon>
          </button>
        </li>
      }
    </ol>
  }
</mat-dialog-content>
