@use 'src/styles/variables';
@use 'src/styles/mixins';

:host {
  @include mixins.glass-transparent;

  display: block;
  padding: variables.$space-16;
  border-radius: variables.$radius-xl;
}

.title {
  @include mixins.font-lg;

  margin: 0 0 variables.$space-12;
}

.list {
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: variables.$space-8 variables.$space-10;

  max-height: 104px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.chip {
  @include mixins.glass-transparent;

  cursor: pointer;
  padding: variables.$space-8 variables.$space-14;
  border-radius: variables.$radius-md;
  background: transparent;
}
