@let coverControl = playlistCreateForm.controls['coverFile'];
@let playlistNameControl = playlistCreateForm.controls['playlistName'];

<mat-dialog-content class="create-playlist-dialog">
  <mat-dialog-actions class="close-container" [mat-dialog-close]="true">
    <button matIconButton aria-label="Close create playlist button">
      <mat-icon>close</mat-icon>
    </button>
  </mat-dialog-actions>
  <form class="playlist-info" [formGroup]="playlistCreateForm">
    <div class="upload-cover-container">
      <label for="player-cover" class="input-content">
        <div class="input-hint" [class.input-hint--with-cover]="coverPreview()">
          <mat-icon
            aria-hidden="false"
            aria-label="upload track icon"
            fontSet="material-icons-outlined"
          >
            image_arrow_up
          </mat-icon>
          <span>upload playlist cover</span>
        </div>

        @if (coverPreview() && coverControl.valid) {
          <img [src]="coverPreview()" alt="cover preview" />
        }
      </label>
      <input
        type="file"
        [accept]="VALID_FILE_TYPE.join(', ')"
        id="player-cover"
        class="hidden"
        (change)="setCover($event)"
      />
    </div>
    <div class="playlist-fields">
      <mat-form-field appearance="outline">
        <mat-label>Playlist Name</mat-label>
        <input matInput formControlName="playlistName" />
        @if (playlistNameControl.invalid) {
          <mat-error>This field is required</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Playlist description</mat-label>
        <textarea
          matInput
          formControlName="playlistDescription"
          class="description-field"
        ></textarea>
      </mat-form-field>
    </div>
    <div class="file-error">
      @if (coverControl.hasError('fileSize')) {
        <p>
          File size is {{ coverError().fileSizeError.actual }}MB, but maximum allowed is
          {{ coverError().fileSizeError.max }}MB.
        </p>
      }
      @if (coverControl.hasError('fileTypes')) {
        <p>
          Invalid file type, expected:
          {{ coverError().fileTypeError.validTypes }}.
        </p>
      }
      @if (selectedTracks().length === 0 && this.submitAttempted()) {
        <p>Please select at least one track.</p>
      }
    </div>
  </form>
  <div class="search-track">
    <ppf-search-bar (querySubmit)="searchTracks($event)" />
    <div class="tracks-list" [class.tracks-list--selected]="!showSelected()">
      <div class="selected-list-container">
        <button matButton="filled" class="selected-button" (click)="showSelected.update(v => !v)">
          Selected Tracks ({{ selectedTracks().length }})
          <mat-icon fontSet="material-icons-outlined"
            >{{ showSelected() ? 'arrow_drop_up' : 'arrow_drop_down' }}
          </mat-icon>
        </button>
        <ppf-tracks-list
          class="selected-list"
          [trackList]="selectedTracks()"
          mode="list"
          title=""
          headerControl="noControl"
          [playlistCreateMode]="true"
          (addClick)="toggleTrackSelection($event)"
          [selectedIds]="selectedIds()"
          [class.hidden]="!showSelected()"
        />
      </div>
      @if (trackSearchState().status === 'loading') {
        <ppf-loader />
      } @else if (trackSearchState().status === 'error') {
        <p>Please try again</p>
      } @else {
        <ppf-tracks-list
          class="search-list"
          [trackList]="trackSearchState().tracks"
          mode="list"
          headerControl="noControl"
          [playlistCreateMode]="true"
          [title]="searchResultTitle()"
          (addClick)="toggleTrackSelection($event)"
          [selectedIds]="selectedIds()"
        />
      }
    </div>
  </div>
  <mat-dialog-actions class="actions-buttons">
    <button matButton="text" [mat-dialog-close]="true" class="cancel">Cancel</button>
    <button
      matButton="tonal"
      class="create"
      [disabled]="playlistCreateForm.invalid"
      (click)="createPlaylist()"
    >
      Create
    </button>
  </mat-dialog-actions>
</mat-dialog-content>
