@use 'src/styles/variables';

:host {
  --mat-form-field-outlined-outline-color: var(--mat-sys-surface);
  --mat-form-field-outlined-label-text-color: var(--mat-sys-surface);
  --mat-form-field-outlined-focus-label-text-color: var(--mat-sys-tertiary);
  --mat-form-field-outlined-focus-outline-color: var(--mat-sys-tertiary);
  --mat-form-field-outlined-input-text-color: var(--mat-sys-tertiary);
  --mat-form-field-outlined-input-text-placeholder-color: var(--mat-sys-surface);
}

.upload-track-dialog {
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  max-height: 100%;
  border-radius: variables.$radius-xl;

  background: var(--mat-sys-secondary);
}

.track-info {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: min(420px, 100%);
  margin: 0 auto 30px;
}

.file-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--mat-sys-surface);
}

.actions-buttons {
  justify-content: flex-end;
}

.file-error {
  margin: 0;
  color: var(--mat-sys-error);
  overflow-wrap: anywhere;
}
