@use 'src/styles/mixins';
@use 'src/styles/variables';

.nav-dialog {
  display: flex;
  flex-direction: column;

  height: 100%;
  max-height: 100%;
  padding: 0;

  transition: all 0.2s ease;

  &.nav-dialog--home {
    background: url('/img/nav-home.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &.nav-dialog--search {
    background: url('/img/nav-search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &.nav-dialog--library {
    background: url('/img/nav-library.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &.nav-dialog--about-us {
    background: url('/img/nav-about-us.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;

    .title {
      @include mixins.font-xl;

      margin-bottom: 10px;
      font-family: Notable, sans-serif;
    }

    .subtitle {
      @include mixins.font-md;
    }
  }

  .app-nav {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 40px;
    align-items: start;
    justify-content: start;

    padding: 120px 20px;

    .nav-link {
      @include mixins.font-xl;

      text-decoration: underline;
      text-decoration-color: transparent;
      transition: all 0.2s ease-in-out;

      &:hover {
        text-decoration-color: inherit;
      }
    }

    .nav-link--active {
      text-decoration: underline;
    }
  }

  .dialog-footer {
    @include mixins.font-lg;

    padding: 30px 20px;
    text-align: right;
  }
}
