// B O R D E R   R A D I U S
$radius-xs: 5px;
$radius-sm: 10px;
$radius-md: 24px;
$radius-lg: 32px;

// S P A C I N G
$space-4: 4px;
$space-8: 8px;
$space-12: 12px;
$space-14: 14px;
$space-16: 16px;
$space-18: 18px;

// F O N T   S I Z E
$font-size-xl: 2rem;
$font-size-lg: 1.5rem;
$font-size-md: 1rem;
$font-size-sm: 0.875rem;
$font-size-xs: 0.75rem;
