// B O R D E R   R A D I U S
$radius-sm: 10px;
$radius-md: 24px;

// F O N T   S I Z E
$font-size-xl: 2rem;
$font-size-lg: 1.5rem;
$font-size-md: 1rem;
$font-size-sm: 0.875rem;
$font-size-xs: 0.75rem;
