@let track = player.current();

<section class="player__section">
  <div class="player__section-wrapper" (click)="openQueue()">
    <div class="player__track-info">
      @if (track) {
        <div class="player__cover-wrapper">
          <span>
            <a class="player-cover-link" [routerLink]="['/album', track.album_id]">
              <img class="player__cover" [src]="track.image" [alt]="track.album_name" />
            </a>
          </span>
        </div>
        <div class="player__names">
          <span>
            <a class="player__artist-name" [routerLink]="['/artist', track.artist_id]">{{
              track.artist_name
            }}</a>
          </span>
          <span
            ><a class="player__track-name">{{ track.name }}</a>
          </span>
        </div>
      } @else {
        <div class="player__empty"></div>
      }
    </div>

    <div class="player__controls">
      <button
        matButton
        type="button"
        class="player__perv"
        (click)="player.previous()"
        [disabled]="!track"
      >
        <mat-icon
          inline
          aria-hidden="false"
          aria-label="perv icon"
          fontSet="material-icons-outlined"
        >
          skip_previous
        </mat-icon>
      </button>
      <button
        matButton
        type="button"
        class="player__play"
        (click)="player.toggle()"
        [disabled]="!track"
      >
        @if (player.isPlaying()) {
          <mat-icon
            inline
            aria-hidden="false"
            aria-label="stop icon"
            fontSet="material-icons-outlined"
          >
            stop_circle
          </mat-icon>
        } @else {
          <mat-icon
            inline
            aria-hidden="false"
            aria-label="play icon"
            fontSet="material-icons-outlined"
          >
            play_circle
          </mat-icon>
        }
      </button>
      <button
        matButton
        type="button"
        class="player__next"
        (click)="player.next()"
        [disabled]="!track"
      >
        <mat-icon
          inline
          aria-hidden="false"
          aria-label="next icon"
          fontSet="material-icons-outlined"
        >
          skip_next
        </mat-icon>
      </button>
    </div>

    <div class="player__volume">
      <mat-slider>
        <input
          matSliderThumb
          #volumeSlider
          type="range"
          min="0"
          [max]="100"
          [value]="player.volume()"
          (input)="player.setVolume(volumeSlider.valueAsNumber)"
          [disabled]="!track"
        />
      </mat-slider>
    </div>

    <div class="player__progress">
      <div class="progress__time-wrapper">
        <span class="player__time time-position">{{ player.position() | duration }}</span>
        <span class="player__time-slash"> / </span>
        <span class="player__time time-duration">{{ player.duration() | duration }}</span>
      </div>
      <div class="progress__input-wrapper">
        <mat-slider>
          <input
            matSliderThumb
            #seekSlider
            type="range"
            min="0"
            [max]="player.duration() || 0"
            [value]="player.position()"
            (input)="player.seek(seekSlider.valueAsNumber)"
            [disabled]="!track"
          />
        </mat-slider>
      </div>
    </div>
  </div>
</section>
