@let track = player.current();

<section class="section">
  @if (track) {
    <img class="background-cover" [src]="track.imageUrl" [alt]="track.albumName" />
  }

  <div
    class="section-wrapper"
    tabindex="0"
    (click)="openQueue($event)"
    (keydown.enter)="openQueue($event)"
  >
    <div class="track-info">
      @if (track) {
        <div class="cover-wrapper">
          <span>
            <a class="player-cover-link" [routerLink]="['/album', track.albumId]">
              <img class="cover" [src]="track.imageUrl" [alt]="track.albumName" />
            </a>
          </span>
        </div>
        <div class="names">
          <span>
            <a class="artist-name" [routerLink]="['/artist', track.artistId]">{{
              track.artistName
            }}</a>
          </span>
          <span
            ><a class="track-name">{{ track.name }}</a>
          </span>
        </div>
      } @else {
        <div class="empty"></div>
      }
    </div>

    <div class="controls">
      <button matButton type="button" class="prev" (click)="player.previous()" [disabled]="!track">
        <mat-icon
          inline
          aria-hidden="false"
          aria-label="prev icon"
          fontSet="material-icons-outlined"
        >
          skip_previous
        </mat-icon>
      </button>
      <button matButton type="button" class="play" (click)="player.toggle()" [disabled]="!track">
        @if (player.isPlaying()) {
          <mat-icon
            inline
            aria-hidden="false"
            aria-label="stop icon"
            fontSet="material-icons-outlined"
          >
            stop_circle
          </mat-icon>
        } @else {
          <mat-icon
            inline
            aria-hidden="false"
            aria-label="play icon"
            fontSet="material-icons-outlined"
          >
            play_circle
          </mat-icon>
        }
      </button>
      <button matButton type="button" class="next" (click)="player.next()" [disabled]="!track">
        <mat-icon
          inline
          aria-hidden="false"
          aria-label="next icon"
          fontSet="material-icons-outlined"
        >
          skip_next
        </mat-icon>
      </button>
    </div>

    <div class="playback-modes">
      <button
        matIconButton
        type="button"
        title="repeat"
        [disabled]="!track"
        (click)="player.toggleRepeatOne()"
      >
        <mat-icon fontSet="material-icons-outlined">
          {{ player.isRepeatOneEnabled() ? 'repeat_one' : 'repeat' }}
        </mat-icon>
      </button>
    </div>

    <div class="volume">
      <button matButton type="button" (click)="player.toggleMute()">
        @if (player.isMuted()) {
          <mat-icon class="player__volume-icon" fontSet="material-icons-outlined">
            volume_mute
          </mat-icon>
        } @else {
          <mat-icon class="player__volume-icon" fontSet="material-icons-outlined">
            volume_up
          </mat-icon>
        }
      </button>

      <mat-slider>
        <input
          matSliderThumb
          #volumeSlider
          type="range"
          min="0"
          [max]="100"
          [value]="player.volume()"
          (input)="player.setVolume(volumeSlider.valueAsNumber)"
          [disabled]="!track"
        />
      </mat-slider>
    </div>

    <div class="progress">
      <div class="time-wrapper">
        <span class="time time-position">{{ player.position() | duration }}</span>
        <span class="time-slash"> / </span>
        <span class="time time-duration">{{ player.duration() | duration }}</span>
      </div>
      <div class="input-wrapper">
        <ppf-waveform-seek
          [waveformData]="track?.waveformData"
          [position]="player.position()"
          [duration]="player.duration()"
          (seekStart)="player.startSeeking()"
          (seekChange)="player.finishSeeking($event)"
        />
      </div>
    </div>
  </div>
</section>
