<h2>Add track to playlist</h2>

<div class="playlist-list">
  <!--  @for (playlist of data.playlists; track playlist.id) {-->
  <!--    <button-->
  <!--      matButton-->
  <!--      (click)="selectPlaylist(playlist.id)"-->
  <!--    >-->
  <!--      {{ playlist.name }}-->
  <!--    </button>-->
  <!--  }-->
</div>

<mat-dialog-actions>
  <button matButton (click)="openCreatePlaylistDialog()">Create new playlist</button>

  <button matButton mat-dialog-close>Cancel</button>
</mat-dialog-actions>
