<div class="playlists-dialog">
  <div class="dialog-header">
    <h2 mat-dialog-title>Add track to playlist</h2>

    <mat-dialog-actions align="end">
      <button matIconButton mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </mat-dialog-actions>
  </div>

  <mat-dialog-content>
    <div class="new-btn-container">
      <button
        matFab
        extended
        mat-dialog-close
        (click)="openCreatePlaylistDialog()"
        class="new-playlist-btn"
      >
        <mat-icon>playlist_add</mat-icon>
        Create new playlist
      </button>
    </div>

    <ppf-playlist-shelf mode="dialog" [albumsList]="store.userPlaylists()" />
  </mat-dialog-content>
</div>
