<div class="waveform">
  <canvas #canvas class="seekbar"></canvas>

  <input
    #seekSlider
    class="seek-input"
    type="range"
    min="0"
    [max]="duration() || 0"
    [value]="isDragging() ? dragPosition() : position()"
    [disabled]="duration() <= 0"
    (pointerdown)="onPointerDown($event, seekSlider)"
    (pointerup)="onPointerUp($event, seekSlider.valueAsNumber)"
    (pointercancel)="onPointerCancel($event)"
    (lostpointercapture)="onPointerUp($event, seekSlider.valueAsNumber)"
    (input)="onInput(seekSlider.valueAsNumber)"
    (keyup)="onKeyUp(seekSlider.valueAsNumber)"
  />
</div>
