<div class="playlist-card-container">
  <div class="header">
    <p>
      <mat-icon>calendar_month</mat-icon>
      <span>April 5, 2019</span>
    </p>
    <p>
      <mat-icon>music_note</mat-icon>
      <span>10 tracks</span>
    </p>
  </div>
  <div class="cover-container">
    <img src="/img/album-bg-mock.png" alt="album name cover" />
  </div>
  <div class="footer">
    <p>Album Name</p>
    <button matIconButton aria-label="Icon button with a outbound arrow icon">
      <mat-icon fontSet="material-icons-outlined">outbound</mat-icon>
    </button>
  </div>
</div>
