@use 'src/styles/variables';

:host {
  display: grid;
  gap: variables.$space-8;
  justify-items: end;
}

.auth-switch {
  display: flex;
  gap: variables.$space-12;
  align-items: baseline;
  justify-self: end;

  padding-inline: variables.$space-16;
}

.auth-label {
  color: var(--mat-sys-on-surface);
}

.auth-link {
  --mat-button-text-label-text-color: var(--mat-sys-tertiary);

  min-width: auto;
}

.auth-link:hover {
  color: var(--mat-sys-on-surface);
}
