<div class="track-container" [class.track-container--playing]="isPlaying()">
  <div class="album-cover">
    <img
      [ngSrc]="track().imageUrl || track().albumImageUrl || PLACEHOLDER_URL"
      [alt]="track().albumName || track().imageUrl + ' cover'"
      width="120"
      height="120"
      loading="lazy"
    />
    <div class="controls">
      <button
        matIconButton
        aria-label="control button"
        class="control-button"
        (click)="addClick.emit()"
      >
        <mat-icon fontSet="material-icons-outlined"> add </mat-icon>
      </button>
      <button
        matIconButton
        aria-label="control button"
        class="control-button"
        (click)="playClick.emit()"
      >
        <mat-icon fontSet="material-icons-outlined">
          {{ isPlaying() ? 'pause_circle' : 'play_circle' }}
        </mat-icon>
      </button>
    </div>
  </div>
  <div class="description">
    <div class="author-track-name">
      <h3 class="author-name">
        @if (track().sourse !== 'userUpload') {
          <a [routerLink]="routes.ARTIST.to(track().artistId)">{{ track().artistName }}</a>
        } @else {
          <span>{{ track().artistName }}</span>
        }
      </h3>
      <h4 class="track-name">{{ track().name }}</h4>
    </div>
    <div class="stats-container">
      <p>
        <mat-icon
          inline
          aria-hidden="false"
          aria-label="timer icon"
          fontSet="material-icons-outlined"
        >
          timer
        </mat-icon>
        {{ track().duration | duration }}
      </p>
      <p class="play-count">
        <mat-icon
          inline
          aria-hidden="false"
          aria-label="headphones icon"
          fontSet="material-icons-outlined"
        >
          headphones
        </mat-icon>
        {{ (track().listenedTotal | abbreviatedNumber) || 0 }}
      </p>
    </div>
  </div>
</div>
