@use 'src/styles/variables';
@use 'src/styles/colors';
@use 'src/styles/mixins';

.track-container {
  display: flex;
  gap: variables.$space-8;
  align-items: stretch;

  min-width: 0;
  border-radius: variables.$radius-xl;

  &:hover {
    background-color: colors.$mat-sys-primary-20;
  }

  &--playing {
    background-color: colors.$mat-sys-primary-20;
  }

  .album-cover {
    position: relative;

    overflow: hidden;
    flex: 0 0 120px;

    aspect-ratio: 1 / 1;
    width: 120px;
    border-radius: variables.$radius-md;

    background-color: var(--mat-sys-on-primary);

    img {
      display: block;

      width: 100%;
      height: 100%;
      border-radius: inherit;

      object-fit: cover;
    }
  }

  .controls {
    position: absolute;
    right: variables.$space-8;
    bottom: variables.$space-8;

    display: flex;
    flex-direction: column;

    opacity: 0;

    transition: opacity 0.2s ease;

    .control-button {
      --mat-icon-button-container-shape: #{variables.$radius-md};

      will-change: backdrop-filter;
      color: var(--mat-sys-on-surface);
      background: rgb(255 255 255 / 15%);
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-width: 0;
    padding: 5px 0;

    .author-track-name {
      min-width: 0;

      .author-name {
        @include mixins.font-md;

        overflow: hidden;

        margin: 0;

        text-decoration: underline;
        text-decoration-color: transparent;
        text-overflow: ellipsis;
        white-space: nowrap;

        transition: all 0.2s ease-in-out;

        &:hover {
          color: var(--mat-sys-on-surface);
          text-decoration-color: var(--mat-sys-on-surface);
        }

        a {
          cursor: pointer;
          color: inherit;
          text-decoration: inherit;
        }
      }

      .track-name {
        @include mixins.font-sm;

        overflow: hidden;
        margin: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .stats-container {
      font-size: 12px;

      p {
        display: flex;
        gap: 5px;
        align-items: center;

        width: max-content;
        padding: 1px 7px;
      }

      .play-count {
        border-radius: variables.$radius-md;
        color: var(--mat-sys-on-surface);
        background-color: var(--mat-sys-primary-container);
      }
    }
  }
}

.track-container:hover .controls {
  opacity: 1;
}

button {
  color: inherit;
}
