@use '../../../../../../styles/variables';

.search-bar {
  --mat-form-field-outlined-container-shape: #{variables.$radius-lg};

  width: clamp(150px, 40vw, 600px);
  padding-right: max(
    16px,
    var(--mat-form-field-outlined-container-shape, var(--mat-sys-corner-extra-small))
  );

  .search-input {
    &:placeholder-shown {
      text-overflow: ellipsis;
    }
  }

  .search-button {
    margin-right: 10px;
  }
}

.mdc-text-field {
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}
