@use '../../../.././src/styles/variables';
@use '../../../.././src/styles/colors';
@use '../../../.././src/styles/mixins';
@use '@angular/material' as mat;

:host {
  --mat-table-background-color: none;
  --mat-paginator-container-background-color: none;
  --mat-mdc-form-field-infix: 0;
  --row-item-outline-width: 0px;

  @include mat.chips-overrides(
    (
      elevated-container-color: var(--mat-sys-secondary-container),
    )
  );
}

.mat-mdc-row.active {
  background-color: var(--mat-table-row-item-container-color, colors.$mat-sys-primary-20);

  .track-name {
    font-weight: 600;
    color: var(--mat-primary);
  }
}

.mat-mdc-header-cell {
  border: 0;
}

.mat-mdc-cell {
  border: 0;
}

.mat-elevation-z8 {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  width: 100%;
  font-size: 14px;
}

th.mat-sort-header-sorted {
  color: transparent;
}

.album-img {
  width: 90px;
  border-radius: variables.$radius-sm;
  object-fit: cover;
}

.search-page__panels {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.search-page__panel {
  display: flex;
  flex-direction: row;
}

.search-page__panel-durs {
  display: flex;
  flex-direction: row;
}

.search-page__dur-row {
  align-items: flex-start;
}

.search-page__panel-duration {
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.search-page__panel-dur-slider {
  align-items: center;
  align-self: center;
  justify-content: center;
}

.chip-grid-container {
  width: 500px;
  height: 60px;
}

.search-page__dur-input {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
  }
}
